/* line 4, ../sass/style.scss */
body {
  margin: 0;
  padding: 10px 30px 30px;
  width: 500px;
  background-color: #D4EECD;
  font-family: 'Cabin', sans-serif;
  color: #222222;
  font-size: 12px;
}

/* line 14, ../sass/style.scss */
button {
  -webkit-appearance: none;
  background: #222222;
  text-transform: uppercase;
  font-size: 14;
  color: white;
  padding: 5px 10px;
  border: none;
}

/* line 25, ../sass/style.scss */
.m-button-bar {
  margin: 10px 0;
}

/* line 29, ../sass/style.scss */
.m-link-list {
  margin: 5px 0;
}
/* line 30, ../sass/style.scss */
.m-link-list th, .m-link-list td {
  padding: 10px 10px 5px 0;
  width: 33.333%;
  box-sizing: border-box;
}
/* line 35, ../sass/style.scss */
.m-link-list th {
  text-align: left;
  border-bottom: 2px solid black;
  position: relative;
  padding-right: 15px;
}
/* line 40, ../sass/style.scss */
.m-link-list th.active {
  font-weight: bold;
}
/* line 42, ../sass/style.scss */
.m-link-list th.active:after {
  content: '';
  display: block;
  position: absolute;
  border: 5px solid transparent;
  right: 5px;
  top: 14px;
}
/* line 50, ../sass/style.scss */
.m-link-list th.active.descending:after {
  border-top-color: black;
}
/* line 53, ../sass/style.scss */
.m-link-list th.active.ascending:after {
  border-bottom-color: black;
  top: 9px;
}
