$color-primary : #222;
$color-secondary : #FFF;

body{
  margin: 0;
  padding:10px 30px 30px;
  width: 500px;
  background-color: #D4EECD;
  font-family: 'Cabin', sans-serif;
  color: $color-primary;
  font-size: 12px;
}

button {
  -webkit-appearance: none;
  background: $color-primary;
  text-transform: uppercase;
  font-size: 14;
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  border: none;
}


.m-button-bar{
  margin: 10px 0;
}

.m-link-list{
  th, td{
    padding: 10px 10px 5px 0;
    width: 33.333%;
    box-sizing: border-box;
  }
  th{
    text-align: left;
    border-bottom: 2px solid black;
    position: relative;
    padding-right: 15px;
    &.active{
      font-weight: bold;
      &:after{
        content: '';
        display:block;
        position: absolute;
        border: 5px solid transparent;
        right: 5px;
        top: 14px;
      }
      &.descending:after{
        border-top-color: black;
      }
      &.ascending:after{
        border-bottom-color: black;
        top: 9px;
      }      
    }
 
  }
  margin: 5px 0;
}
